﻿
@{
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
    ViewBag.Title = "Index";
}
<div ng-app="ChatApp">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavigationCtrl">
        <div class="container">
            <div class="navbar-header">
                <a href="~/" class="navbar-brand">Chat Room</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><button class="btn btn-primary" ng-show="showLogin" style="margin-top: 0.5em;" ng-click="logout()">Logout</button></li>                
            </ul>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row">
        <div ng-view></div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/signalR")
    <script src="/signalr/hubs"></script>
    @Scripts.Render("~/bundles/signalRChat")
}