﻿<div class="row">
    <div class="col-md-9" style="height: 550px;">
        <div style="height: 485px; overflow-y: auto; overflow-x: hidden">
            <div class="row" ng-repeat="message in conversation">
                <div class="col-md-2"><label>{{message.username}}</label></div>
                <div class="col-md-9">{{message.content}}</div>
            </div>            
        </div>
        <div class="row" style="margin-top: 1em;">
            <div class="col-md-9 col-md-offset-2">
                <input type="text" class="form-control" ng-model="message" ng-enter="send()" ng-readonly="activeContactId == -1" />
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" ng-click="send()">Send</button>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="height: 550px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Contacts</h3>
            </div>
            <div class="panel-body">
                <div class="list-group" style="height: 450px; overflow-y: auto;">
                    <a href="javascript:void(0)" ng-repeat="contact in contacts" class="list-group-item chat-list-group-item" 
                       ng-class="{active: activeContactId == $index}" ng-click="$parent.viewConversation($index)">{{contact.username}}</a>                    
                </div>
            </div>
        </div>
    </div>
</div>
