﻿<div class="row">    
    <div class="col-md-5 col-md-offset-3">
        <div class="form-group">
            <label for="username">Enter your name</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your name" ng-model="username">
        </div>
        <button class="btn btn-primary" ng-click="login()">Login</button>
    </div>
</div>